development:
  adapter: postgresql
  encoding: utf-8
  database: api_development
  pool: 5
  username: postgres
  password: 

test:
  adapter: postgresql
  encoding: utf-8
  database: api_test
  pool: 5
  username: postgres
  password: 

staging:
  adapter: postgresql
  encoding: utf-8
  database: api_staging
  pool: 5
  username: postgres
  password: 

production:
  adapter: postgresql
  encoding: utf-8
  database: api_production
  pool: 5
  username: postgres
  password: 
