//Your style goes here
.addPanel {
  z-index: 1
}
.editButton {
  width:23px;
  height:23px;
  background-image: url(http://www.veryicon.com/icon/preview/System/Icons%20for%20Developers/edit%20Icon.jpg); 
}
.delButton {
  width:23px;
  height:23px;
  background-image: url(http://icons.iconarchive.com/icons/oxygen-icons.org/oxygen/24/Actions-edit-delete-icon.png); 
}
